<div class="panel">
	<h4 style="color: gray;">{{topic.topicname}}</h4>
</div>

<a ng-repeat="bookmark in topic.bookmark" ng-href="{{bookmark.url}}" target="_blank" >
		<pre><span>{{bookmark.url}}</span><button class="btn btn-danger btn-xs pull-right" ng-show="!!isEditing" ng-click="urlremove(bookmark); $event.preventDefault();"><span class="glyphicon glyphicon-remove"></span></button></pre>
</a>
<button type="submit" class="btn btn-warning pull-right" ng-show="!isEditing" ng-click="edit()">수정</button> 

<button type="submit" class="btn btn-primary pull-right" ng-show="!!isEditing" ng-click="ok()">완료</button> 
<button type="submit" style="margin-right: 10px;" class="btn btn-danger pull-right" ng-show="!!isEditing" ng-click="remove()">토픽전체삭제</button> 

<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bookmark">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="bookmark">
      <div class="navbar-inner">
      <form class="navbar-form" name="bookmarkName" role="search" style="border-top-width: 0; border-bottom-width: 0;">
          <div class="form-group">
            <input type="text" class="form-control"  ng-model="url" size="80" placeholder="새로운 북마크 URL을 이곳에서 추가해보세요. (꼭 앞에 http:// 를 붙인 FullURL로 추가해주세요.)" ng-required="true">
          </div>
          <button type="submit" class="btn btn-default navbar-btn" ng-click="add(url)" ng-disabled="bookmarkName.$invalid">
             <span class="glyphicon glyphicon-plus"></span> 새로운 URL 추가 
          </button>
        </form>
 	   </div>
    </div>
  </div>

  